
.profile-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajusta esto según tus necesidades */
  margin-bottom: 20px;
}

.profile-picture {
  border-radius: 50%; /* Esto hace las imágenes redondeadas */
  width: 50px; /* Ajusta esto según tus necesidades */
  height: 50px; /* Ajusta esto según tus necesidades */
}

.body {
  background: linear-gradient(to bottom right, #808080, #FFFFFF);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 50px 0;
  text-align: center;
}

.section {
  margin: 50px 0;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.footer {
  padding: 50px 0;
  text-align: center;
}

.card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.imageBook{
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  max-width: 100%;
}





